html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background-color: rgb(23, 23, 23);
}

#root {
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}

.encabezado {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 20px;
  box-sizing: border-box;

  /* Fijar arriba */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  /* Color de fondo */
  background-color: rgb(23, 23, 23);
  box-shadow: 0 0px 15px rgb(255, 0, 0);
  border-bottom: 1px solid rgb(255, 0, 0);
}

.title {
  flex: 1;
  text-align: center;
  white-space: nowrap;
  margin: 0;

}

.logos {
  width: 75px;
  filter: drop-shadow(0px 0px 10px rgba(255, 0, 0, 0.5));
}

.logos-react {
  width: 75px;
  filter: drop-shadow(0px 0px 10px rgba(0, 255, 251, 0.5));
}

/* Grid */

.cuadricula-fotos {
  margin-top: 50px;
  column-width: var(--grid-width, 150px);
  /*se carga la variable y en caso de que no se le pase un valor, se carga el valor por defecto*/

  column-gap: 15px;
  padding: 0px;
}

.foto-item img {
  width: 100%;
  height: auto !important;
  display: block;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.foto-item img:hover {
  opacity: 0.4;
  transform: scale(1.05);
}

.gridContainer {
  padding-top: 100px;
}

/* Viewer */
.viewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;

}

.viewer img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.cerrar {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 10px;
  border: 1px solid rgb(255, 0, 0);
  background: black;
  margin: 10px;
  box-shadow: 0 0px 15px rgba(255, 0, 0, 0.5);
}

.cerrar:hover {
  border-color: rgba(255, 0, 0, 0.437);
}