html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

#root {
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}

.encabezado {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 20px;
  box-sizing: border-box;

  /* Fijar arriba */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  /* Color de fondo */
  background-color: #42001B;
  box-shadow: 0 2px 15px black;
}

.title {
  flex: 1;
  text-align: center;
  white-space: nowrap;
  margin: 0;

}

.logos {
  width: 75px;
}

.cuadricula-fotos {
  column-width: var(--grid-width, 150px);
  column-gap: 15px;
  padding: 0px;
}

.foto-item img {
  width: 100%;
  height: auto !important;
  display: block;
  border-radius: 8px;
  margin-bottom: 10px;
}